<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <main class="category-content">
      <h3><%= title %></h3>
      <% if (locals.categories) { %>
      <div className="category-list">
        <% categories.forEach((category) => { %> 
        <a class="categoryName" href="/<%= category.categoryname %>"><%= category.categoryname %></a>
        <a href="/delete/<%= category.categoryname %>">Delete</a>
        <%})%>
      </div>  
      <%}%>
      <a href='/category/new'>Add New Category</a>
    </main>
  </body>
</html>
