<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h2><%= title %></h2>
    <%- include("partials/errors.ejs")%>
    <form action="/items/new" method="post">
      <label for="item-name"></label>
      <input type="text" id="item-name" name="itemName" placeholder="Item Name"
        />
      <label for="item-quantity"></label>
      <input type="number" id="item-quantity" name="itemQuantity" placeholder="10"
        />
      <select name="category" id="select-categories">
        <% categories.forEach((category) => { %>
        <option value="<%= category.categoryname %>"><%= category.categoryname %></option>
        <% }) %>
      </select>
      <button type="submit">Add Item</button>
    </form>
  </body>
</html>
