<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link href="/form.css" rel="stylesheet" />
  </head>
  <body>
    <h2><%= title %></h2>
    <%- include("partials/errors.ejs") %>
    <form action="/items/edit/<%= item.itemid %>" method="post" class="item-form">
      <h2><%= title %></h2>
      <label for="item-name"></label>
      <input type="text" value="<%= item.itemname %>" name="itemName"
        id="item-name" />
      <label for="item-quantity"></label>
      <input type="number" value="<%= item.itemquantity %>" name="itemQuantity"
        id="item-quantity" />
      <select name="category" id="select-cateogries">
        <% categories.forEach((category) => { %>
          <option value="<%= category.categoryname %>"><%=category.categoryname%></option>
        <% }) %>
      </select> 
      <button type="submit">Confirm</button>
    </form>
    <a href="/items">
      <button>Items</button>
    </a>
  </body>
</html>
